	#body {
    	background-color: #DCF2FB;
    }
	
	.jumbotron {
		margin-top: 2%;
		background-color: #6DB9DA;
		margin-bottom: 1%;
		color: #114373;
	}

	.container {
		background-color: white;
	}
	
	#search {
	resize: none;
	background-color: #9A9A9A;
	border: 2px solid #888; 
	color: #323334;
	width: 100%;
	border-radius: 0.5rem;
	font-size: 20px; 
	outline: none;
	margin-top: 5%;
	}

	#chatsHeader {
	text-align: center;
	margin-top: -3%;
	margin-bottom: -3%;
	font-style: italic;
	}

	.vertical-menu {
	margin-top: 1%;
	margin-bottom:  3%;
	width: 100%;
	height: 35rem;
	overflow-y: auto;
	border-radius: 1rem;
	}

	.vertical-menu a {
	background-color: #DCDDDE;
	color: black;
	display: block;
	padding: 2%;
	text-decoration: none;
	border: 1px solid white; 
		color: #114373;
		font-size: 115%;
	}

	.vertical-menu a:hover {
	background-color: #CCCECF;
	}

	.vertical-menu a.active {
	background-color: #ccc;
	font-size: 140%;
	font-weight: bold;
	/*color: white;*/
	}

	#logout {
	width: 10%;
	float: right;
	background-color: #114373;
	color: white;
	border-color: #012342;
	}

	#addChat {
	width: 15%;
	height: 4rem;
	float: right;
	background-color: #114373;
	color: white;
	border-color: #012342;
	margin-bottom: 2%;
	}
