<body id="body">
  <div class="container">
    <div class="jumbotron">
      <h1 id="chatsHeader">Chats</h1>
    </div>
    <div>
      <button (click)="onLogout()" id="logout">Log out</button>
    </div>
    <div>
      <input id="search" placeholder="Search chats...">
    </div>
    <div class="vertical-menu">
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 1</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 2</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 3</a>
      <a href="#" class="active"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 4</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 5</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 6</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 7</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 8</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 9</a>
      <a href="#"><img src="assets/images/chatroom-logo.png" alt="Chatroom" id="chatroom-img">Chat 10</a>
    </div>
    <div>
      <button id="addChat" (click)="onCreate()">Create chatroom</button>
    </div>
  </div>
</body>