<form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onFormSubmit()">
    <label class="login-form-element">
        Email:
        <input type="email" [formControlName]="loginFormControlNames.Email">
    </label>
    <label class="login-form-element">
        Password:
        <input type="password" [formControlName]="loginFormControlNames.Password">
    </label>
    <span *ngIf="loginFailed">{{ errorMessage }}</span>
    <button class="submit-button" type="submit" [disabled]="loginForm.invalid">{{ submitButtonText}}</button>
</form>
