<form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onFormSubmit()">
    <label class="register-form-element">
        Email:
        <input type="email" [formControlName]="registerFormControlNames.Email">
    </label>
    <label class="register-form-element">
        Password:
        <input type="password" [formControlName]="registerFormControlNames.Password">
    </label>
    <button class="submit-button" type="submit" [disabled]="registerForm.invalid">{{ submitButtonText }}</button>
</form>
