:host {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #355C7D;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.submit-button {
    width: 5rem;
    height: 1.5rem;
}

.register-form-element {
    padding: 1rem 0 1rem 1rem;
}
